.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height:100vh;
    width:100%;

}
.main_cal{
    
    box-sizing: border-box;
    background-color: black;
    box-sizing: border-box;
    height:55vh;
    width:320px;
}
#display_data{
    background-color: white;
    height: 20%;
    width:99%;
    border:2px solid rgb(3, 5, 3);
}
#operation{
    position: relative;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:70%;
    width:100%;
}
button{
    color:white;
    background-color: #4d4d4d;
    font-size: 16px;
    height:55px;
    width:72px;
}
.num{
    width:82px;
}
#equal{
    color:white;
    background-color: #021b88;
    font-size: 16px;
    height:105px;
    width:22%; 
}
#AC{
    background-color: brown;
    width:51%;
}
#zero{
   bottom: -29px;
    height: 51px;
    padding-left: 5px;
    position: absolute;
    width: 52%;
}
button:hover{
    border-style: none;
    color:rgb(0, 0, 0);
    transform: scale(1.02);
    min-zoom: 10;
    transition: 0.5s;
    box-shadow:0px 0px 2px white;
    background-color: #ffffff;
}
#dot{
    bottom: -29px;
    height: 50px;
    left: 166px;
    position: absolute;
}
